<template>
  <div>
    <h3>About ZoomSense</h3>

    <div
      class="text-body1"
    >The ZoomSense project was started on 19 April 2020 as a response to our experiences of using Zoom for teaching.</div>
    <br />
    <div
      class="text-body1"
    >A few people from the Faculty of IT at Monash University (and friends) got together to see if we could visualize what was happening in Zoom breakout rooms.</div>
    <br />
    <div
      class="text-body1"
    >We are looking for help in developing this open source tool. So whether you're an academic, educator or developer, we'd love to loop you in!</div>
    <br />
    <br />
    <!-- <md-divider></md-divider> -->
    <br />
    <br />
    <div class="text-body1">
      Contributors (so far)
      <br />
      <br />
      <a href="https://research.monash.edu/en/persons/tom-bartindale">Tom Bartindale</a> &middot;
      <a href="https://research.monash.edu/en/persons/patrick-olivier">Patrick Olivier</a> &middot;
      <a href="#">Peter Chen</a> &middot;
      <a href="https://openlab.ncl.ac.uk/people/dan-richardson/#bio">Dan Richardson</a> &middot;
      <a
        href="https://www.linkedin.com/in/tom-mackie-5a43b347/?originalSubdomain=au"
      >Tom Mackie</a> &middot;
      <span>You?</span>
    </div>
    <br />
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "About",
  components: {},
  computed: {
    fromnow: function() {
      return moment()
        .subtract(2, "weeks")
        .fromNow(true);
    }
  }
};
</script>

<style scoped>
</style>