<template lang="pug">
loader(title="Waiting for login to complete with Zoom.us...")
</template>

<script>
import { EventBus } from "@/components/event-bus.js";
import Loader from "@/components/Loader.vue";
import { auth } from "../db";

export default {
  name: "Login",
  components: { Loader },
  data() {
    return {
      token: this.$route.query.token,
      user: {},
    };
  },
  created: function () {
    this.signInWithToken();
  },
  methods: {
    signInWithToken() {
      if (!this.token) {
        console.log("No token given");
        return;
      }

      this.$cookies.set("refresh", this.token, "14d");

      auth
        .signInWithCustomToken(this.token)
        .then((loginData) => {
          this.user = loginData.user;
          return loginData.user.getIdToken();
        })
        .then((idToken) => {
          this.$cookies.set("session", idToken, "14d");

          // get user profile
          return this.$http.post(
            `${process.env.VUE_APP_FB_FUNCTIONS}/getProfile`,
            {
              idToken: idToken,
            }
          );
        })
        .then((resp) => {
          this.$cookies.set("user", JSON.stringify(resp.data), "14d");
          EventBus.$emit("logged-in");
          this.$router.push("/");
        })
        .catch(function (error) {
          if (error) {
            console.log("Error " + error.code + ": " + error.message);
          }
        });
    },
  },
};
</script>

<style scoped>
</style>