<template>
  <Loader :loading="!firebaseloading" title="Building visualization...">
    <div class="q-pt-md q-mb-lg" v-if="meeting">
      <div>
        <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el
            :label="meeting.topic"
            icon="insert_invitation"
            :to="'/' + meeting['.key']"
          />
          <q-breadcrumbs-el icon="pie_chart">
            <q-btn-dropdown
              style="font-weight: normal"
              type="a"
              label="Visualisation"
              no-caps
              flat
            >
              <q-list>
                <q-item :to="'/managedocs/' + meeting['.key']"
                  >Documents</q-item
                >
              </q-list>
            </q-btn-dropdown>
          </q-breadcrumbs-el>

          <q-breadcrumbs-el
            v-if="history == 0"
            style="color: red"
            label="Live"
            icon="play_arrow"
          />
          <q-breadcrumbs-el
            v-if="history != 0"
            label="History"
            icon="history"
          />
          <q-breadcrumbs-el v-if="history != 0" :label="historyTime(history)" />
        </q-breadcrumbs>
        <div class="text-h4 q-pt-md">Visualisation</div>

        <div class="q-py-md">
          <q-stepper
            alternative-labels
            flat
            v-model="step"
            ref="stepper"
            color="primary"
            animated
            @input="navTo(step)"
            :header-nav="true"
          >
            <q-step
              :header-nav="false"
              name="start"
              :title="StartTime"
              icon="play_arrow"
            ></q-step>

            <q-step
              :done-icon="getTimelineIcon(h)"
              :active-icon="getTimelineIcon(h)"
              :done="h == history"
              v-for="h in historyList"
              :key="h"
              :name="h"
              :title="getTimelineTitle(h)"
              :icon="getTimelineIcon(h)"
            ></q-step>

            <q-step
              v-if="!meeting.actualEndTime"
              done-icon="play_arrow"
              active-icon="play_arrow"
              active-color="red-7"
              :done="history == 0"
              :name="0"
              title="Live"
              icon="play_arrow"
            ></q-step>

            <q-step
              v-if="meeting.actualEndTime"
              done-icon="stop"
              active-icon="stop"
              :name="-1"
              :title="EndTime"
              icon="stop"
              :header-nav="false"
            ></q-step>
          </q-stepper>
        </div>
        <q-banner
          class="text-center bg-primary q-my-md text-white"
          v-if="step === 0 && !meeting.actualEndTime"
        >
          <q-icon size="md" name="history" />
          <span class="vertical-middle text-body1">
            This view shows data from the previous 5 minutes of the class.
          </span>
        </q-banner>

        <div class="q-pa-md" style="text-align: center">
          <div class="q-gutter-sm">
            <q-radio
              keep-color
              v-model="visType"
              val="piechart"
              label="Active Speaker Pie Chart"
              color="teal"
            />
            <q-radio
              keep-color
              v-model="visType"
              val="network"
              label="Network Diagram"
              color="orange"
            />
            <q-radio
              keep-color
              v-model="visType"
              val="timeline"
              label="Timeline Visualization"
              color="blue"
            />
            <q-radio
              keep-color
              v-model="visType"
              val="gdoc"
              label="Google Document Editing"
              color="red"
            />
          </div>
        </div>

        <div v-if="visType == 'gdoc'" class="row justify-center">
          <q-btn
            v-on:click="manageDocs"
            flat
            color="primary"
            style="align: center"
          >
            Manage Documents
          </q-btn>
        </div>

        <br />

        <div class="text-h6 q-pb-lg">{{ boLength(TimeRange) }}</div>

        <div
          class="row fit wrap justify-center items-center content-center q-col-gutter-xs"
        >
          <RoomSpeakers
            :visType="visType"
            v-for="(speakerData, key) in activeSpeakers"
            :title="ifBOSessionTitle(key)"
            :key="key"
            :activeSpeakers="speakerData"
            :distributedDocs="
              distributedDocs ? distributedDocs[speakerData['.key']] : []
            "
            :history="history"
            :meeting="meeting"
            :user="user"
          />
        </div>
      </div>
<<<<<<< HEAD
      <br />

      <div class="text-h6 q-pb-lg">{{ boLength(TimeRange) }}</div>

      <!-- TODO: change layout -->
      <!-- <div class="row fit wrap justify-center items-center content-center q-col-gutter-xs"> -->
    <div class="row tst fit wrap justify-center items-center content-center q-col-gutter-xs"> 
        <RoomSpeakers
          :visType="visType"
          v-for="(speakerData, key) in activeSpeakers"
          :title="ifBOSessionTitle(key)"
          :key="key"
          :activeSpeakers="speakerData"
          :distributedDocs="
            distributedDocs ? distributedDocs[speakerData['.key']] : []
          "
          :history="history"
          :meeting="meeting"
          :user="user"
        />
      </div>
=======
>>>>>>> d2d94245dfd4a8b9b13ca669495cbad3b933ab68
    </div>
  </Loader>
</template>

<script>
import { db } from "../db";
import moment from "moment";
import RoomSpeakers from "@/components/RoomSpeakers.vue";
import Loader from "@/components/Loader.vue";

const meetings = db.ref("meetings");
const activeSpeakers = db.ref("data/activeSpeakers");

const CUTOFF = 60000;

export default {
  name: "MeetingDetails",
  props: { history: { default: 0 }, user: {} },
  data: function () {
    return {
      meetingId: this.$route.params.id,
      meeting: {},
      activeSpeakers: [],
      distributedDocs: {},
      firebaseloading: true,
      step: 0,
      timezone: moment.tz.guess(),
      visType: "piechart",
    };
  },
  watch: {
    history: {
      immediate: true,
      handler(h) {
        if (h == 0 && this.meeting && this.meeting.actualEndTime) {
          this.$router.push(
            `/${this.meeting[".key"]}/${
              this.historyList[this.historyList.length - 1]
            }`
          );
        }

        if (h == "") {
          this.step = 0;
        }
      },
    },
    meetingId: {
      immediate: true,
      async handler(id) {
        if (this.$cookies.get("user")) {
          const anonymous = this.$cookies.get("anonymous");

          if (!anonymous) {
            await this.$rtdbBind(
              "meeting",
              meetings.child(this.$cookies.get("user").uid).child(id)
            );
          } else {
            this.meetingid = anonymous.meetingid;

            await this.$rtdbBind(
              "meeting",
              meetings.child(anonymous.hostuid).child(this.meetingid)
            );
          }

          await this.$rtdbBind("activeSpeakers", activeSpeakers.child(id));

          var docsRef = db.ref(`data/gdocs/${id}`);
          docsRef.on("value", (snapshot) => {
            this.distributedDocs = snapshot.val();
          });

          this.firebaseloading = false;

          if (this.meeting.actualEndTime && this.history == 0) {
            this.$router.replace(
              `/${id}/${this.historyList[this.historyList.length - 1]}`
            );
          }
        } else {
          if (this.$router.currentRoute.path != "/") {
            this.$router.push("/");
          }
          location.reload();
        }
      },
    },
  },
  computed: {
    TimeRange: function () {
      try {
        let events = [];

        var initialLatestTime = -1;
        var initialEarliestTime = 9999999999999999999;

        // find the latest and earliest timestamp from each bot
        let latesttime = initialLatestTime;
        let earliestime = initialEarliestTime;

        for (let bot of this.activeSpeakers) {
          let rh = this.realhistory(bot);

          if (rh != -1 && rh > latesttime) latesttime = rh;

          if (this.history == 0) {
            if (bot.current) events = Object.values(bot.current.activeHistory);
          } else if (bot && bot.history && bot.history[rh]) {
            events = Object.values(bot.history[rh].activeHistory);
          } else {
            // nothing
          }

          if (events.length >= 1) {
            let _botlatest = this.latestTime(events);

            if (_botlatest[1] < earliestime) earliestime = _botlatest[1];
          }
        }

        if (
          latesttime === initialLatestTime &&
          earliestime === initialEarliestTime
        ) {
          // if nothing is set, make sure we put a valid date in
          latesttime = new Date(this.meeting.startTime);
          earliestime = new Date(this.meeting.endTime);
        }

        return [latesttime, earliestime];
      } catch (e) {
        // console.log("transitioning between live and history...");
        return [0, 0];
      }
    },
    EndTime: function () {
      return moment(this.meeting.actualEndTime)
        .tz(this.timezone)
        .format("h:mma");
    },
    StartTime: function () {
      return moment(this.meeting.startTime).tz(this.timezone).format("h:mma");
    },
    MeetingLength: function () {
      var duration = moment.duration(
        moment(new Date(this.meeting.endTime)).diff(
          moment(new Date(this.meeting.startTime))
        )
      );
      return duration.asMinutes();
    },
    TimeString: function () {
      var now = new Date();
      var starts = new Date(this.meeting.startTime);
      var ends = new Date(this.meeting.endTime);

      var startString = moment(new Date(this.meeting.startTime))
        .tz(this.timezone)
        .fromNow();

      if (ends < now) {
        return (
          "Class ended " +
          moment(new Date(this.meeting.endTime)).tz(this.timezone).fromNow()
        );
      }
      if (starts < now) {
        return "Started " + startString;
      }

      return "Starts " + startString;
    },
    historyList: function () {
      let allhistory = [];

      for (let zb of this.activeSpeakers) {
        // console.log(zb);
        if (zb.history) allhistory.push(...Object.keys(zb.history));
      }

      allhistory = [
        ...new Set(
          allhistory.map(function (el) {
            return Math.floor(parseInt(el) / CUTOFF) * CUTOFF;
          })
        ),
      ];

      return allhistory.sort();
    },
  },
  methods: {
    manageDocs() {
      this.$router.push("/managedocs/" + this.meetingId);
    },
    latestTime(botevents) {
      let sorted = botevents.map((f) => f.timestamp).sort();
      // console.log(sorted);
      return [sorted[sorted.length - 1], sorted[0]];
    },
    realhistory(bot) {
      // loop through and find the key that matches:
      if (this.history && bot.history) {
        let keys = Object.keys(bot.history);
        for (let el of keys) {
          if (
            Math.floor(parseInt(el) / CUTOFF) * CUTOFF ==
            parseInt(this.history)
          ) {
            return el;
          }
        }
        return -1;
      } else {
        return 0;
      }
    },
    boLength(bo) {
      // console.log(this.history);

      if (this.history == 0) {
        return `${moment
          .unix(bo[1] / 1000)
          .tz(this.timezone)
          .format("h:mma")} - Now (${moment
          .duration(moment().diff(moment.unix(bo[1] / 1000)))
          .humanize()})`;
      } else
        return `${moment
          .unix(bo[1] / 1000)
          .tz(this.timezone)
          .format("h:mma")} - ${moment
          .unix(bo[0] / 1000)
          .tz(this.timezone)
          .format("h:mma")} (${moment
          .duration(moment.unix(bo[0] / 1000).diff(moment.unix(bo[1] / 1000)))
          .humanize()})`;
    },
    navTo(h) {
      if (h == 0) h = "";
      this.$router.push("/" + this.meeting[".key"] + "/" + h);
    },
    historyTime(h) {
      let events = [];

      // lookup the earliest first event for any of the bots
      // (as this timestamp is the *endtime* of the BO session)
      let earliestime = 9999999999999999999;

      for (let bot of this.activeSpeakers) {
        let real = this.realhistoryindex(bot, h);
        // console.log(real);
        if (
          bot &&
          bot.history &&
          bot.history[real] &&
          bot.history[real].activeHistory
        ) {
          events = Object.values(bot.history[real].activeHistory);
        } else {
          // nothing
        }

        if (events.length >= 1) {
          let _botlatest = this.latestTime(events);
          if (_botlatest[1] < earliestime) earliestime = _botlatest[1];
        }
      }

      let dd = moment.duration(
        moment.unix(earliestime / 1000).diff(moment(this.meeting.startTime))
      );

      return `${dd.hours() != 0 ? dd.hours() + "h, " : ""}${dd.minutes()}m`;
    },
    ifBOSessionTitle(index) {
      if (index == 0) {
        return this.isBOSession(this.history) ? "" : "Main Class";
      } else return "";
    },
    getTimelineIcon(h) {
      return this.isBOSession(h) ? "group_work" : "people";
    },
    getTimelineTitle(h) {
      var category = this.isBOSession(h) ? "Breakout" : "Main Room";
      var minutesLength = 0;

      var historyIndex = this.historyList.indexOf(h);

      // get segment length in minutes
      if (historyIndex == 0) {
        minutesLength =
          (h - moment(this.meeting.startTime).valueOf()) / 1000 / 60;
      } else {
        minutesLength = (h - this.historyList[historyIndex - 1]) / 1000 / 60;
      }

      return category + " (" + minutesLength + " mins)";
    },
    isBOSession(h) {
      // console.log(h);
      // console.log(this.activeSpeakers[0]);
      let hashistory = this.realhistoryindex(this.activeSpeakers[0], h);
      if (
        hashistory != -1 &&
        this.activeSpeakers &&
        this.activeSpeakers[0] &&
        this.activeSpeakers[0].history &&
        !this.activeSpeakers[0].history[hashistory].isInBO
      ) {
        return false;
      } else if (
        (hashistory == 0 || hashistory == -1) &&
        this.activeSpeakers[0] &&
        this.activeSpeakers[0].current &&
        !this.activeSpeakers[0].current.isInBO
      ) {
        return false;
      }
      return true;
    },

    meetingFinished() {
      return moment(this.meeting.endTime).toDate() < moment().toDate();
    },

    realhistoryindex(bot, index) {
      // loop through and find the key that matches:
      if (bot.history) {
        let keys = Object.keys(bot.history);
        for (let el of keys) {
          if (Math.floor(parseInt(el) / CUTOFF) * CUTOFF == parseInt(index)) {
            return el;
          }
        }
        return -1;
      } else {
        return 0;
      }
    },
  },
  firebase: {
    // meeting: db.ref('meetings/' + meetingId),
  },
  components: {
    RoomSpeakers,
    Loader,
  },
  created: function () {
    this.step = this.history;
  },
};
</script>

<style>

/* corresponds to vis' parent scaling */
.tst-scale-class {
    zoom: 0.5;
    -moz-transform: scale(0.5);
}

/* corresponds to element scaling */
.tst {
    zoom: 0.5;
    -moz-transform: scale(0.5);
}


.meetingPage {
  margin-top: 1em;
}

.q-stepper--horizontal .q-stepper__step-inner {
  display: none !important;
}
</style>
