<script>
import {Line, mixins } from "vue-chartjs";
const { reactiveProp } = mixins;
// import Annotation from  "chartjs-plugin-annotation";
import Zoom from "chartjs-plugin-zoom";

export default {
  extends: Line,
  mixins: [reactiveProp],
  props: ["chartData", "options"],
  mounted() {
    // Annotation.id = "annotation";
    // console.log(Annotation)
    // console.log(Zoom)

    // this.addPlugin(Annotation);
    this.addPlugin(Zoom);
    this.renderChart(this.chartData, this.options);
  },
};
</script>

<style>
</style>