<<<<<<< HEAD
<template>
  <div class="meetingsSection">
    <q-tabs v-model="tab" class="text-primary">
      <q-route-tab name="testVis" icon="event" label="testVis" to="/testVis" exact />
      <q-route-tab name="scheduled" icon="event" label="Scheduled" to="/scheduled" exact />
      <q-route-tab name="archive" icon="history" label="Archive" to="/archive" exact />
    </q-tabs>

    <q-tab-panels v-model="tab">
      <q-tab-panel name="testVis" style="min-height:400px;">
        <div>
          <span class="text-h5">Test Vis</span>
          <q-toggle style="margin-top:-8px;" v-model="showFirebaseMeetings" label="Test Vis" />
        </div>
 
       <div v-if="frbMeetings.length">
          <q-timeline color="secondary">
            <ScheduledCall v-for="call in frbMeetings" 
            :key="call.id" 
            :call="call" 
            :user="user" />
          </q-timeline>
        </div>

      </q-tab-panel>



      <q-tab-panel name="scheduled" style="min-height:400px;">
        <div>
          <span class="text-h5">Your Scheduled Zoom Classes</span>
          <q-toggle
            style="margin-top:-8px;"
            v-model="showZoomMeetings"
            label="Show ZoomSense Only"
          />
        </div>

        <div v-if="zoomloading || firebaseloading">
          <div class="row justify-center full-height full-width text-center items-center">
            <div style="margin-top:5em;">
              <p class="text-body1">Getting your Zoom schedule...</p>
              <q-spinner-dots color="primary" size="xl" />
            </div>
          </div>
        </div>
        <div v-else>
          <div v-if="unfinishedMeetings.length">
            <q-timeline color="secondary">
              <ScheduledCall
                v-for="call in unfinishedMeetings"
                :key="call.id"
                :call="call"
                :user="user"
              />
            </q-timeline>
          </div>

          <div
            v-else
            style="color: #ccc; text-align:center;margin:2em;"
            class="row justify-center full-height full-width text-center items-center"
          >
            <div style="margin-top:3em;">
              <q-icon name="insert_invitation" style="font-size:10em;" />
              <p class="text-h6">Schedule a class to get started.</p>
            </div>
          </div>
        </div>
      </q-tab-panel>

      <q-tab-panel name="archive">
        <div
          class="text-h5"
          v-show="!zoomloading && !firebaseloading && pastMeetings.length"
        >Your ZoomSense Archive</div>
        <div v-if="pastMeetings.length">
          <q-timeline color="secondary">
            <ScheduledCall v-for="call in pastMeetings" :key="call.id" :call="call" :user="user" />
          </q-timeline>
        </div>
      </q-tab-panel>
    </q-tab-panels>
  </div>
=======
<template lang="pug">
.meetingsSection
  q-tabs.text-primary(v-model="tab")
    q-route-tab(
      name="scheduled",
      icon="event",
      label="Scheduled",
      to="/scheduled",
      exact
    )
    q-route-tab(
      name="archive",
      icon="history",
      label="Archive",
      to="/archive",
      exact
    )

  q-tab-panels(v-model="tab")
    q-tab-panel(name="scheduled", style="min-height:400px;")
      div
        span.text-h5 Your Scheduled Zoom Classes
        q-toggle(
          style="margin-top:-8px;",
          v-model="showZoomMeetings",
          label="Show ZoomSense Only"
        )

      div(v-if="zoomloading")
        .row.justify-center.full-height.full-width.text-center.items-center
          div(style="margin-top:5em;")
            p.text-body1 Getting your Zoom schedule...
            q-spinner-dots(color="primary", size="xl")

      div(v-else)
        div(v-if="unfinishedMeetings.length")
          q-timeline(color="secondary")
            ScheduledCall(
              v-for="call in unfinishedMeetings",
              :key="`${call.id}-${call.startTime}`",
              :call="call",
              :user="user"
            )

        .row.justify-center.full-height.full-width.text-center.items-center(
          v-else,
          style="color: #ccc; text-align:center;margin:2em;"
        )
          div(style="margin-top:3em;")
            q-icon(name="insert_invitation", style="font-size:10em;")
            p.text-h6 Schedule a class to get started.

    q-tab-panel(name="archive", style="min-height:400px;")
      .text-h5 Your ZoomSense Archive
      div(v-if="firebaseloading")
        .row.justify-center.full-height.full-width.text-center.items-center
          div(style="margin-top:5em;")
            p.text-body1 Getting your Meetings...
            q-spinner-dots(color="primary", size="xl")

      div(v-if="pastMeetings.length")
        q-timeline(color="secondary")
          ScheduledCall(
            v-for="call in pastMeetings",
            :key="`${call.id}-${call.startTime}`",
            :call="call",
            :user="user"
          )
>>>>>>> d2d94245dfd4a8b9b13ca669495cbad3b933ab68
</template>

<script>
import { db } from "../db";
import ScheduledCall from "./ScheduledCall.vue";
import { EventBus } from "@/components/event-bus.js";
import moment from "moment-timezone";
import shared from "../shared";

// var timezone = moment.tz.guess();

const meetings = db.ref("meetings");

export default {
  name: "Meetings",
  props: ["user"],
  data() {
    return {
      scheduled: [],
      firebasemeetings: [],
      frbMeetings: [],
      zoomloading: true,
      firebaseloading: true,
<<<<<<< HEAD
      showZoomMeetings: true,
      showFirebaseMeetings: true,
=======
      showZoomMeetings: false,
>>>>>>> d2d94245dfd4a8b9b13ca669495cbad3b933ab68
      tab: "scheduled",
    };
  },
  watch: {
<<<<<<< HEAD
    showFirebaseMeetings: function () {
      // this.$forceUpdate();
      // console.log(this.firebasemeetings)
      // INFO: uids ~ users

      var vueInstance = this

      db.ref("meetings").on(
        "value",
        function (snapshot) {
          console.log(snapshot.val());

          var uids = snapshot.val();
          var frbMeetings = [];

          console.log(uids);
          // FIXME: declare vars outside of the loop
          Object.keys(uids).forEach((uid) => {
            var meetingId = uids[uid];
            console.log(meetingId);

            Object.keys(meetingId).forEach((mid) => {
              var frbMeeting = {};
              frbMeeting.id = mid;
              frbMeeting.topic = meetingId[mid].topic;
              frbMeeting.requested = true;
              frbMeeting.scheduled = meetingId[mid].scheduled;
              // frbMeeting.scheduled = false;
              frbMeeting.noOfBreakoutRooms = meetingId[mid].noOfBreakoutRooms;
              frbMeeting.gdocs = meetingId[mid].gdocs;

              frbMeeting.endTime = meetingId[mid].endTime;
              frbMeeting.startTime = meetingId[mid].startTime;

              frbMeetings.push(frbMeeting);
            });
          });

          console.log(frbMeetings);
          vueInstance.frbMeetings = frbMeetings
        },
        function (errorObject) {
          console.log("The read failed: " + errorObject.code);
        }
      );

      // this.db.ref("meetings").forEach(fm => {

      //     var foundIndex = combinedMeetings.findIndex(m => m.id == fm[".key"]);

      //     // Fund firebase one in array:
      //     if (foundIndex > -1) {
      //       combinedMeetings[foundIndex].requested = true;
      //       combinedMeetings[foundIndex].scheduled = fm.scheduled;
      //       combinedMeetings[foundIndex].noOfBreakoutRooms = fm.noOfBreakoutRooms;
      //       combinedMeetings[foundIndex].gdocs = fm.gdocs;
      //     } else {
      //       // Not found firebase one in array
      //       fm.requested = true;
      //       combinedMeetings.push(fm);
      //     }
      //   });
    },
=======
>>>>>>> d2d94245dfd4a8b9b13ca669495cbad3b933ab68
    showZoomMeetings: function () {
      this.$forceUpdate();
    },
    firebasemeetings: function (m) {
      let unfin = m.filter(
        (m) => moment(m.endTime).toDate() >= moment().utc().toDate()
      );
      if (unfin.length > 0) {
        this.showZoomMeetings = true;
      } else {
        this.showZoomMeetings = false;
      }
    },
  },
  created() {
    this.getSessionToken = shared.getSessionToken;
    if (!this.$cookies.get("anonymous")) this.getScheduledMeetings();
  },
  mounted() {
    const anonymous = this.$cookies.get("anonymous");
    if (!anonymous) {
      EventBus.$on("logged-in", () => {
        this.getScheduledMeetings();
      });

      this.$rtdbBind("firebasemeetings", meetings.child(this.user.uid)).then(
        () => {
          this.firebaseloading = false;
        }
      );
    } else {
      const vueInstance = this;
      const hostuid = anonymous.hostuid;
      const meetingid = anonymous.meetingid;

      db.ref(`meetings/${hostuid}/${meetingid}`).once("value", function (
        snapshot
      ) {
        vueInstance.firebasemeetings.push(snapshot.val());
        vueInstance.firebaseloading = false;
        vueInstance.zoomloading = false;
      });
    }
  },
  methods: {
    getScheduledMeetings: function () {
      this.zoomloading = true;
      var vueInstance = this;

      this.getSessionToken(this)
        .then((token) => {
          return vueInstance.$http.post(
            `${process.env.VUE_APP_FB_FUNCTIONS}/getScheduledMeetings`,
            {
              idToken: token,
            }
          );
        })
        .then((resp) => {
          // console.log(resp);
          vueInstance.zoomloading = false;
          if (resp.status != 200) {
            throw new Error(resp.statusText);
          }
          vueInstance.scheduled = resp.data.meetings;

          return resp;
        })
        .catch((error) => {
          vueInstance.zoomloading = false;
          // console.error("error fetching scheduled meetings", error);
          vueInstance.$cookies.remove("session");
          return new Error(error);
        });
    },
  },
  computed: {
    combinedMeetingData() {
      var combinedMeetings = [];

      // Format the meetings from the zoom api
      if (!this.showZoomMeetings && this.scheduled) {
        this.scheduled.forEach(function (zm) {
          if (typeof zm.start_time !== "undefined") {
            // Has startime if the meeting has not commenced yet
            combinedMeetings.push({
              topic: zm.topic,
              id: zm.id,
              startTime: moment(zm.start_time).toISOString(),
              endTime: moment(zm.start_time)
                .add(zm.duration, "minutes")
                .toISOString(),
              requested: false,
              noOfBreakoutRooms: 0,
            });
          }
        });
      }

      this.firebasemeetings.forEach((fm) => {
        var foundIndex = combinedMeetings.findIndex((m) => m.id == fm[".key"]);

        // Fund firebase one in array:
        if (foundIndex > -1) {
          combinedMeetings[foundIndex].requested = true;
          combinedMeetings[foundIndex].scheduled = fm.scheduled;
          combinedMeetings[foundIndex].noOfBreakoutRooms = fm.noOfBreakoutRooms;
          combinedMeetings[foundIndex].gdocs = fm.gdocs;
        } else {
          // Not found firebase one in array
          fm.requested = true;
          combinedMeetings.push(fm);
        }
      });

      return combinedMeetings.sort(
        (a, b) => moment(b.startTime) - moment(a.startTime)
      );
    },
    pastMeetings() {
      return this.combinedMeetingData.filter(
        (m) =>
          m.requested &&
          moment(m.actualEndTime || m.endTime).toDate() <
            moment().utc().toDate()
      );
    },
    unfinishedMeetings() {
      // console.log(this.combinedMeetingData)
      return this.combinedMeetingData.filter(
        (m) =>
          moment(m.actualEndTime || m.endTime).toDate() >=
          moment().utc().toDate()
      );
    },
  },
  components: {
    ScheduledCall: ScheduledCall,
  },
};
</script>

<style scoped>
.meetingsSection {
  justify-content: center;
  text-align: left;
  position: relative;
}

h1 {
  margin-bottom: 1em;
}

.md-empty-state {
  margin-top: -4em;
}
</style>
