<template>
  <div id="app">
    <network
      v-if="networkdata"
      :nodes="networkdata.nodes"
      :edges="networkdata.edges"
      :options="networkdata.options"
    ></network>
  </div>
</template>

<script>
export default {
  props: ["networkdata"],
};
</script>

<style>
.network {
  width: 90%;
}
</style>
