<template lang="pug">
q-timeline-entry(:subtitle="startFull")
  q-card.my-card(flat, bordered)
    q-inner-loading(:showing="requestLoading")
      q-spinner-gears(size="30px", color="primary")

    q-card-section.bg-warning.q-pa-sm(v-if="call.error", horizontal)
      div {{ call.error }}

    q-card-section(horizontal)
      q-card-section.col
        .text-h5.vspace1.ellipsis {{ call.topic }}
        q-chip(dense)
          q-avatar(color="secondary", text-color="white", icon="event") 
          span {{ startLess }}
        q-chip(dense)
          q-avatar(color="secondary", text-color="white", icon="schedule") 
          span {{ duration }}
        q-chip(v-if="call.requested", dense)
          q-avatar(color="secondary", text-color="white", icon="people") 
          span {{ call.noOfBreakoutRooms }} Rooms
        q-chip(v-if="call.requested && !Anonymous", dense)
          q-avatar(color="blue", text-color="white", icon="description") 
          span {{ docsCreated }} Google Docs | <a :href="'#/managedocs/' + this.call.id">Manage</a>
      q-separator(vertical)

      q-card-actions.justify-around.q-px-md(vertical)
        q-btn(
          :disable="!Running",
          flat,
          round,
          color="primary",
          icon="voice_chat",
          @click="openzoom()"
        )
          q-tooltip Join class
        q-btn(
          :disable="!call.scheduled || !Started",
          flat,
          round,
          color="red",
          icon="pie_chart",
          :to="'/' + call.id"
        )
          q-tooltip View visualisations
        q-btn(
          :loading="getLinkLoading",
          :disable="!call.scheduled || !Started || Anonymous || getLinkLoading",
          flat,
          round,
          color="secondary",
          icon="share",
          @click="getShareLink()"
        )
          q-tooltip Share this class visualisation

    q-card-section.bg-positive(v-if="!call.requested", horizontal)
      q-card-section.col.text-white.text-right(:if="!call.scheduled")
        span Request ZoomSense with
        q-input(
          dark,
          rounded,
          outlined,
          type="number",
          name="breakoutrooms",
          min="1",
          max="10",
          v-model="noOfBreakoutRooms",
          @change="validateNoOfBo",
          :dense="true",
          style="width:5em;display:inline-block;margin-left:.3em;margin-right:.5em;"
        )
        span expected Breakout Rooms
      q-card-actions.justify-around.q-px-md(vertical)
        q-btn(
          :disable="requestLoading",
          dark,
          flat,
          round,
          color="white",
          icon="add",
          @click="requestZoomSense"
        )
          q-tooltip Schedule ZoomSense for this class

    q-dialog(v-model="shareCard")
      q-card.share-card
        q-card-section.col.items-center
          .text-h6 {{ tokenSuccess ? 'Successfully Copied Share Link' : 'Copy and Share the Following Link' }}
          span Share this link with someone to give them read-only access to this class dashboard.
          q-input(readonly, :value="token")
        q-card-actions(align="right")
          q-btn(flat, label="OK", color="primary", v-close-popup)

        //- q-card-section.items-center
        //-   q-input(
        //-     v-model="token",
        //-     outlined,
        //-     style="width: 100%",
        //-     type="textarea"
        //-   )
        //- q-card-section.row.items-center
        //-   q-avatar.avatar(icon="duo", color="secondary", text-color="white")
        //-   span.q-ml-sm {{ call.topic }}
        //- q-card-section.row.items-center
        //-   q-avatar.avatar(
        //-     icon="access_time",
        //-     color="secondary",
        //-     text-color="white"
        //-   )
          //- span.q-ml-sm {{ startLess }}
</template>

<script>
import moment from "moment-timezone";
import Vue from "vue";
import { db, config, functions } from "../db";
const generateLink = functions.httpsCallable("generateLink");
var timezone = moment.tz.guess();

export default {
  name: "ScheduledCall",
  props: ["call", "user"],
  data: function () {
    return {
      noOfBreakoutRooms: 2,
      loading: false,
      shareCard: false,
      token: null,
      tokenSuccess: true,
      requestLoading: false,
      getLinkLoading: false,
    };
  },
  computed: {
    duration() {
      return moment
        .duration(moment(this.call.endTime).diff(moment(this.call.startTime)))
        .humanize();
    },
    docsCreated() {
      if (this.call.gdocs && this.call.gdocs.documents) {
        return Object.keys(this.call.gdocs.documents).length;
      } else return 0;
    },
    startFull() {
      return moment(this.call.startTime)
        .tz(timezone)
        .format("Do MMMM YYYY \\a\\t h:mma (z)");
    },
    startLess() {
      return moment(this.call.startTime)
        .tz(timezone)
        .format("Do MMMM \\a\\t h:mma");
    },
    RequestButtonString() {
      return this.loading ? "Please wait..." : "Request ZoomSense";
    },
    Running() {
      return moment().isBetween(this.call.startTime, this.call.endTime);
    },
    Started() {
      return moment(this.call.startTime) < moment().utc();
    },
    Finished() {
      return moment(this.call.endTime) <= moment().utc();
    },
    Ongoing() {
      return this.Started && !this.Finished;
    },
    Soon() {
      return (
        !this.Started &&
        moment
          .duration(moment(this.call.startTime).diff(moment().utc()))
          .as("minutes") < 60
      );
    },
    Anonymous() {
      const anonymous = this.$cookies.get("anonymous");
      return anonymous ? true : false;
    },
    StartTime() {
      var start = moment(this.call.startTime);
      var finish = moment(this.call.endTime);

      if (!this.Started) {
        return start.tz(timezone).toNow();
      } else if (this.Finished) {
        // meeting has finished
        return (
          start.tz(timezone).format("Do MMMM YYYY, HH:mma") +
          " - " +
          finish.tz(timezone).format("HH:mma")
        );
      }
      // ongoing
      return "Started " + start.tz(timezone).fromNow();
    },
    UserName() {
      return Vue.$cookies.get("user").displayName;
    },
  },
  methods: {
    openzoom() {
      if (this.Running)
        window.location = "zoommtg://zoom.us/join?confno=" + this.call.id;
    },
    async getShareLink() {
      try {
        this.getLinkLoading = true;
        // Read result of the generateLink Function
        const result = await generateLink({
          meetingid: this.call.id,
          hostuid: this.user.uid,
        });
        this.token = `${process.env.VUE_APP_REDIRECT}/#/anonymous?token=${result.data}`;
        this.$copyText(this.token).then(
          () => {
            // Copy successful
            this.tokenSuccess = true;
          },
          () => {
            // Copy failed
            this.tokenSuccess = false;
          }
        );
        this.getLinkLoading = false;
        this.shareCard = true;
      } catch (error) {
        console.log("Error " + error.code + ": " + error.message);
        return this.$router.push("/");
      }
    },
    viewMeetingDetails: function () {
      this.$router.push("/" + this.call.id);
    },
    requestZoomSense: async function () {
      if (this.loading) return;
      try {
        delete this.call.requested;
        this.requestLoading = true;
        this.call.noOfBreakoutRooms = this.noOfBreakoutRooms;
        this.setMeetingSchedule(this.user.uid, this.call);
      } catch (e) {
        console.log(e);
      }
    },
    setMeetingSchedule: function (uid, meeting) {
      var vueInstance = this;
      new Promise(function (resolve, reject) {
        if (vueInstance.$cookies.isKey("session")) {
          resolve(vueInstance.$cookies.get("session"));
        } else if (vueInstance.$cookies.isKey("refresh")) {
          vueInstance.getAccessToken().then((token) => {
            resolve(token);
          });
        } else {
          vueInstance.$cookies
            .keys()
            .forEach((cookie) => vueInstance.$cookies.remove(cookie));
          reject(new Error("no tokens found"));
        }
      })
        .then((token) => {
          return vueInstance.$http.post(
            `${config.functions_url}/getMeetingPassword`,
            {
              idToken: token,
              uid: uid,
              meetingid: meeting.id,
            }
          );
        })
        .then(async (resp) => {
          if (resp.status != 200) {
            throw new Error(resp.statusText);
          }
          await db.ref(`/meetings/${uid}/${meeting.id}`).set(meeting);
          await db
            .ref(`/meetings/${uid}/${meeting.id}/password`)
            .set(resp.data);
          this.requestLoading = false;
        })
        .catch((error) => {
          vueInstance.$cookies.remove("session");
          this.requestLoading = false;
          return new Error(error);
        });
    },
    validateNoOfBo: function () {
      if (this.noOfBreakoutRooms <= 1) this.noOfBreakoutRooms = 1;
      if (this.noOfBreakoutRooms >= 10) this.noOfBreakoutRooms = 10;
    },
  },
};
</script>

<style scoped>
.vspace1 {
  line-height: 2em;
}

.my-card {
  text-align: left;
  overflow: hidden;
}

.breakoutInput {
  width: 50px;
  margin-bottom: 8px;
}

.soon {
  color: red;
}

.started {
  color: green;
}

.avatar {
  font-size: 2rem;
}

/* .share-card {
  padding-left: 10px;
  padding-right: 30px;
} */

.analytics-button {
  margin-top: 10px;
}
</style>
